{% extends "::base.html.twig" %}

{% block title %}WikiAdminBundle:projet:add{% endblock %}

{% block body %}
    <h3>Formulaire d'annonce</h3>

    <div class="well" id="merci">
        {{ form(form) }}
    </div>
{% endblock %}
