label {
    color: #050505;
    font-size: 24px;
}
h2 {
    color:#4832B4;
    font-size:24px;
}
h3 {
    color: black;
    font-size: 45px;
    margin-top: 0,9cm;
    margin-bottom: 0,9cm;
    text-align: center;
}
p {
    text-align: center;
    color: black;
}
.my_background {
    background: no-repeat;
    background-size: cover;
    background-color: #DDD7EA;
}
.help-block {
    text-align: center;
}
.navbar-brand {
    font-size: 28px;
    color: #A9587A;
} 
.btn {
    color: #FFFFFF !important;
    background-color: #C1B7D7 !important;
}
.btn:hover {
    background-color: #010202 !important;
}
input[type="submit"] {
    cursor: pointer;
    background-color: #C5BBDB;
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-family: strong;
    box-shadow: 8px 8px 8px #555;
    margin-bottom: 0cm;
}
.input-group-addon {
    text-align: center;
    color: #050505;
    background-color: #C5BBDB;
    width: 4cm;
}
.row {
    margin-right: -5cm;
}


