
body {
    background-color: #DDD7EA;
}

.menu {
    margin-top: 50px;
    padding-left: 930px;
}

a {
    color:  black;
}

.rectangle {
    width:220px;
    height: 30px;
    background: #C5BBDB;
    margin-left: 490px;
    text-align: center;
    box-shadow: 4px 4px 4px #555;
}

.question {
   margin-left: 100px;
    padding-left: 60px;
}

.titre {
    float: left;
}

.rectangle1 {
    padding: 10px;
    background-color: white;

}