header{
    font-size: 18px;
    background-color: #e6e6e6;
}

.nav {
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}
.nav li + li {
    border-left: 1px solid gray;
}

.login-page .panel-info{
    max-width: 700px;
    margin: 10vh auto 0 auto;
}
.login{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 700px;
}
#thetable{
    border: solid gray 1px;
}


