header {
    font-size: 18px;
    background-color: #e6e6e6;
}

.nav {
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.nav li + li {
    border-left: 1px solid gray;
}

.login-page .panel-info{
    max-width: 700px;
    margin: 10vh auto 0 auto;
}

.login {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 800px;
    padding-top:70px;
}

#thetable{
    border: 1px solid black;
    max-width: 97%;
    margin: auto;
}

td {
    border: 0.25px solid black;
    text-align: center;
}

.ui-state-default {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}


ul {
   float: right;
}

.record_properties {
    border: 1px solid black;
    max-width: 80%;
    margin: auto;
}

th {
    text-align: center;
    border: 1px solid black;
}

li {
    margin-right: 45%;
    list-style-type:none;
}

.form-group {
    max-width:80%;
    margin: auto;
    padding-left: 10%;

}
.photoprojet img{
    width: 400px;
    height: 200px;
}
.tab1 img{
    width: 700px;
    height: 300px;
}








