<link href="{{ absolute_url(asset('bundles/wikiwikimaire/css/mail.css')) }}" rel="stylesheet">

<div class="banniere">
    <img src="{{ absolute_url(asset('bundles/wikiwikimaire/img/mail.png')) }}">
    <h2>Wiki Des Maires</h2>
    <div class="connexion">
        <p><a href="http://localhost/projet-wiki_des_maires/web/app_dev.php/profile/">Se connecter à votre espace</a></p>
    </div>
</div>

<div class="informations">
    <h2>Changement de votre Mot de Passe</h2>
    <p>Bonjour M / Mme {{ user }}.</p>
    <p>Votre mot de passe à bien été Modifie</p><br />
    <p>En cas d'oublie de votre mot de passe , cliquez sur le lien mot de passe oublié</p>
    <p style="text-align: center">Ceci est un message automatique, merci de ne pas répondre.</p>
</div>