<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />


    <title>{% block title %}Wiki des maires{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/wikiwikimaire/css/style.css') }}">

    {% endblock %}



</head>


<body data-user="{{ app.user }}" {% if is_granted('ROLE_ADMIN') %} class="admin" {% endif %}>

{% block body %}
{% endblock %}

{#Appel des fichiers bootstap en CDN#}
<script src="{{ asset('bundles/wikiwikimaire/js/jquery-1.11.3.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
