{% extends '::base.html.twig' %}

{% block body %}
    <h2>Welcome</h2>
    <div>
        <p>
            Bienvenue Celine
        </p>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Team</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Séverine</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Mahamadou</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Lucie</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Florian</h3>
                    <p class="text-center">Developer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}