{% extends "::base.html.twig" %}

{% block title %}WikiWikiMaireBundle:Projet:index{% endblock %}

{% block body %}
    <div class="well">
        {% for %}

        {% endfor %}
    </div>
{% endblock %}
