{% extends '::base.html.twig' %}

{% block body %}
    <h2>Welcome</h2>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor, lacus nec aliquam condimentum, erat
            lectus ullamcorper orci, et pulvinar ante turpis ut libero. Nam condimentum blandit nibh id condimentum.
            Quisque eu tortor tempus, facilisis urna id, egestas enim. Donec imperdiet faucibus magna, vitae dapibus n
            eque ullamcorper nec. Maecenas porta laoreet lacinia. Donec vulputate magna nibh, vel euismod mauris luctus
            in. Curabitur ut rhoncus libero. Quisque a nibh nulla. Nam ipsum nibh, lobortis eget ultrices vel, commodo
            eu purus.

            Sed luctus efficitur egestas. Vivamus eu porta ligula, et ultrices tortor. Nunc auctor libero vel leo
            ultricies, ut ultrices mauris ultrices. Donec est augue, tristique a ex eget, malesuada pellentesque tortor
            . Nullam consectetur massa et sapien venenatis vulputate vel ac nulla. Aliquam id ante commodo velit varius
            condimentum. Vestibulum non leo porta nunc tincidunt congue eget auctor leo. Vivamus nec nisl vulputate,
            molestie urna quis, consectetur nibh. Suspendisse tristique gravida eros, ac iaculis mauris malesuada a.
            Cras non ornare metus, auctor ultrices risus. Maecenas ligula neque, porttitor id fringilla at, cursus vitae
            lectus. Aliquam et porta mauris. Sed tincidunt purus a volutpat ornare.

        </p>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Team</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Séverine</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Mahamadou</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Lucie</h3>
                    <p class="text-center">Developer</p>
                </div>
                <div class="col-md-3">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                         class="center-block img-circle img-responsive">
                    <h3 class="text-center">Florian</h3>
                    <p class="text-center">Developer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}